# Sistema operacional
.DS_Store
Thumbs.db

# Editores
.vscode/
.idea/
*.swp
*.swo

# Arquivos temporários
*.tmp
*.temp
*.log

# Dependências e builds locais, caso sejam usados futuramente
node_modules/
dist/
build/

# Variáveis de ambiente
.env
.env.*
!.env.example
